<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr />

<h3>Methode: check_rights_for</h3>
Die Methode sollte aufrufbar sein! Check the code
<%= check_rights_for :controller => 'users', :action => 'index' do %>
  <%= link_to "Dies ist ein Link", nil %>
<% end %>

<%= just_a_test %>

</body>
</html>
